# Ignore everything
*

# Allow gitignore itself
!.gitignore

# Allow directories to be traversed
!*/

# Allow top-level docs
!README.md
!results.html
!package.json
!package-lock.json

# Allow docs/ for GitHub Pages
!docs/
!docs/index.html
!docs/musicbrainz/*.png
!docs/million-songs-database/*.png
!docs/kaggle-spotify/*.png
!docs/kaggle-top-100/*.png

# Allow PNGs in each source folder
!musicbrainz/*.png
!million-songs-database/*.png
!kaggle-spotify/*.png
!kaggle-top-100/*.png
